<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Image Converter</title>
   <link rel="stylesheet" href="static/css/styles.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<div class="top-container">
   <h1>Free Online Image Compressor</h1>
</div>
<div class="middle-container" align="center">
      {% for mesg in get_flashed_messages() %}
         <p>{{ mesg }}</p>
      {% endfor %}
   <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type='number' name='number' min='0' max='100'>
      <input type=submit value=Upload>
   </form>

      <div class="row img-row">
      {% if filename %}
         <div class="col-lg-6 img-row">
            <img src="{{ url_for('display_image',filename=filename) }}">
         </div>
      {% else %}
         <div class="col-lg-6 img-row">
            <img src="static/images/noimage.jpg">
         </div>
      {% endif %}
      {% if filename %}
         <div class="col-lg-6 img-row">
            <img src="{{ url_for('display_image',filename=filename) }}">
         </div>
      {% else %}
         <div class="col-lg-6 img-row">
            <img src="static/images/noimage.jpg">
         </div>
      {% endif %}
      </div>
      <div class="row second-row">
         {% if percentage %}
            <div class="col-lg-6">
               <p>Image pixel percentage: {{ percentage }} </p>
               <p>Image compression time: {{ tcomp }}</p>
            </div>
         {% else %}
            <div class="col-lg-6">
               <p>Image pixel percentage: 0 </p>
               <p>Image compression time: 0</p>
            </div>       
         {% endif %}
         <div class="col-lg-6">
            <a href="{{ url_for('download_file',filename=filename) }}" class= "download-link">
               <button class="btn btn-success download-btn">Download</button>
            </a>
         </div>  
      </div>

</div>

<div class="bottom-container">
    <p>Kelompok YaSVDahlah</p>
</div>

</body>
</html>