.container {
    width: 200px;
    height:200px;
}

img {
    width: 55%;
}

.middle-container {
    background-color: #EAF6F6 ;
    margin:0 !important;
    position: relative;
    padding-top:20px;
}
body {
    background-color: honeydew;
}
.second-row {
    padding:20px;
}

div.col {
    margin:5%;
}

.bottom-container {
    background-color:#66BFBF;  
    text-align: center; 
    margin:0;
    padding: 20px 0 20px;
}

hr {
    margin:0;
}

.top-container {
    background-color: #66BFBF;
    text-align: center;
    margin:0;
    padding:20px;
}

form {
    padding:20px;
}

.img-row {
    padding:10px
}